oauth_client_id = 'XXXXXXXXXXX.apps.googleusercontent.com'
oauth_client_secret = 'XXXXXXXXXXXXXX-XXXXXXXXX'

# After filling out the above, run 'python oauth.py' and copy the result here:
youtube_refresh_token = '1/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
